root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
tab_width = 2
ij_continuation_indent_size = 8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides =
ij_wrap_on_typing = false

[*.rb]
indent_size = 2

[*.{js,ts,jsx,tsx}]
indent_size = 2

[*.{css,scss,sass}]
indent_size = 2

[*.html.erb]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[Gemfile]
indent_size = 2

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[db/schema.rb]
insert_final_newline = true
