<!DOCTYPE html>
<html lang="en">
  <% content_for :head do %>
    <meta name="robots" content="noindex, nofollow">
  <% end %>

  <%= render "layouts/head", title_suffix: "Victor's Blog" %>

  <body class="bg-stone-400 font-sans antialiased">
    <%= yield %>
  </body>
</html>
